html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Top navigation */

.top-nav {
    background-color: white;
    position: fixed;
    z-index: 9999;
    width: 100%;
}

.top-nav .div-content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
    padding: 0px 24px;
}

.div-content .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #838994;
    letter-spacing: 0.023em;
    -webkit-font-smoothing: antialiased;
    margin-top: 1.6879rem;
}

/* Hover */

.top-nav .links .active {
    color: #4c5058;
    font-weight: 500; 
}

.top-nav .links li:hover {
    cursor: pointer;
    color: #333333;
}

.top-nav .links li {
    display: inline-block;
    margin-left: 39px;
}

/* Karma logo - top nav */

.top-nav .logo {
    height: 4rem;
    margin-left: 7px;
}

/* Main image, 2nd section*/

.main-image {
    background-image: url("images/first-background copy.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}

/* Main image text*/

.main-image h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight:lighter;
    margin-top: 17rem;
    font-size: 3rem;
}

.main-image h3 {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight:lighter;
    margin-top: 1.25rem;
    font-size: 1.67rem;
}


/* Button CTA box */

button {
    text-align: center;
    background-color: #f15a29;
    font-size: 18px;
    color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    margin:0 auto;
    display: block;
    border-style: none;
    padding: 1rem 1.5rem;
    text-shadow: none;
    letter-spacing: .04rem;
    font-weight:lighter;
}


/* List section */

.cases h3 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.023em;
    font-weight: lighter;
}

.cases .content {
    text-align: center;
}

ol, ul {
    list-style: none;
}

li {
    text-align: -webkit-match-parent;
    display: list-item;

}

.cases .devices li {
    display: inline-block;
    padding: 1rem;
    padding-right: 17px;
}

/* Cases */

.cases h2 {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin-top: 5rem;
    font-size: 2rem;
    text-align: center;
    font-weight:lighter;
}

.cases .devices {
    height: 4em;
    box-shadow: none;
    box-sizing: border-box;
    display: inline-block;
    /*border: 1px solid black;
    margin-left: 15px;*/
}

/* Reminder

Check code and see why there's a white space on the left side vertical?

Overflow auto? */





