html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Hover */

.top-nav .links > .active {
    color: #4c5058;
    font-weight: 500; 
}

.top-nav .links li:hover {
    cursor: pointer;
    color: #333333;
}

/* For top navigation */

.top-nav {
	background-color: white;
}

.top-nav > .div-content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 16px;
    color: #838994;
    letter-spacing: 0.03em;
    padding: 0px 15px;
    margin-top: 35px;
    -webkit-font-smoothing: antialiased;

}



.links {
	float: right;
}

.top-nav .links > li {
		display: inline-block;
		margin-left: 35px;

}
/* For image */

.image.logo {
	margin-top: 100px;
}