html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Button CTA thingie*/

button {
    text-align: center;
    background-color: #f15a29;
    font-size: 18px;
    color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    margin:0 auto;
    display: block;
    border-style: none;
    padding: 1rem 1.5rem;
    text-shadow: none;
    letter-spacing: .04rem;
    font-weight:lighter;

}

/* Main image text*/


h3 {
    font-size: 28px;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight:lighter;
    margin-top: 7rem;
}

h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight:lighter;
    margin-top: 7rem;
}

/* Main image, 2nd section*/

.main-image {
    background-image: url("images/first-background copy.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}


/* Hover */

.top-nav .links .active {
    color: #4c5058;
    font-weight: 500; 
}

.top-nav .links li:hover {
    cursor: pointer;
    color: #333333;
}

.top-nav .links li {
    display: inline-block;
    margin-left: 25px;

}

/* Top navigation */

.top-nav {
	background-color: white;
}

.top-nav > .div-content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
    padding: 0px 15px;
}

.div-content > .links {
	float: right;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #838994;
    letter-spacing: 0.03em;
    -webkit-font-smoothing: antialiased;
}

.top-nav > .logo {
    margin-top: 66px;
}



